.btn_style {
    --widthBtn: 28rem;
    --heightBtn: 7rem;
    --borderRadius: 1.3rem;
          
    width: var(--widthBtn);
    height: var(--heightBtn);
    border-radius: var(--borderRadius);
    border: none;   
        
    cursor: pointer;
}

.btn-text {
    font-family: var(--fontFamilyGilroy);
    font-size: 2rem;
    line-height: 3rem;    
    text-align: center;    
    color: var(--colorWhite);
}