.header {   
    display: flex;    
    height: max-content;
    padding: 5rem 0 10rem;
    width: 100%;
    flex-direction: column;    
    background: var(--linearGradientHeader);  
    box-sizing: border-box;  
    overflow: hidden;


    &__menu {
        --heightMenu: 6rem;
       
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        height: var(--heightMenu); 
        padding: 0 10rem;  
        box-sizing: border-box;  
    }
}

.header__description {   

    display: flex;   
    align-items:center;
    justify-content: center;     
    box-sizing: border-box; 
    padding-bottom: 20rem;  
    margin: 0 17.5%;  

    &__container {
        display: flex;
        align-items: center;
    }
    &__prev {
        --widthTitlePrev: 63rem;

        display: flex;
        justify-content: center;
        flex-direction: column;       
        width: var(--widthTitlePrev);  
        z-index: 4;
        transform: translateY(5rem);         
    }
}

.description__prev {   

    &_title {
        font-size: 8rem;
        font-weight: 600;
        font-family: galien, sans-serif;        
        line-height: 9rem;
        color: var(--colorYaleBlue);
        padding-top: 0;
    }
    &_about {
        --widthTextAbout: 50rem;
        width: var(--widthTextAbout);
        font-size: 2rem;        
        font-family: gilroy, sans-serif;        
        line-height: 3rem;
        color: var(--colorYaleBlue);
        margin-top: -1.2rem;
        margin-bottom: 8rem;
        opacity: 60%;
    }
    &_link {
        background-color: var(--colorBlueGray);       
        box-shadow: var(--boxShadowForBtn);  
        transition: background-color .5s linear;  
        text-align: center;   
        line-height: var(--heightBtn);
    }
    &_link:hover {
        background-color: var(--colorLapisLazuli);
    }
}
.link-text {
    font-family: var(--fontFamilyGilroy);
    font-size: 2rem;
    line-height: 3rem;    
    text-align: center;    
    color: var(--colorWhite);
    text-decoration: none;
}
.description__image {

    position:relative;
    width: 50%;    

    &_style {         
        transform: scale(1.7) translate(5rem, 8rem);     
        width: 100%;
        max-width: 53rem;
    }
}

.menu__nav {
    --widthBurger: 3rem;
    --heightBurger: 2rem;

    display: flex;    
    justify-content: space-between;
    flex-direction: column;
    width: var(--widthBurger);
    height: var(--heightBurger);
    cursor: pointer;

    &_bar {
        --heightBar: .3rem;

        width: var(--widthBurger);
        height: var(--heightBar);
        background-color: var(--colorAzul);
        
    }
}

@media screen and (max-width: 1100px) {

    .header__description__container {
        flex-wrap: wrap;
        justify-content: center;
     }
    .description__image {        
        
        &_style {            
            padding-top: 10rem;
        }
    }
}

@media screen and (max-width: 570px) {

    .header__description {
        padding-bottom: 0rem;

        &__container {
            margin-top: 5rem;        
        }   
        &__prev {
            width: 100%;
        }
    }
    
    .description__prev {        

        &_title {
            font-size: 4.5rem;
            line-height: 6rem;
            width: 70vw;
            
        }
        &_about {
            width: 70vw;
        }
    }

    .description__image {  
        width: 100%;              
        
        &_style {
            transform: none;                    
        }
    }    
}

@media screen and (max-width: 386px) {
    .header {      
    
        &__menu {            
            padding: 0 5rem;           
        }
    }
    
    .description {
        
        &__image_style {             
            top: 73rem;    
            right: 25%;       
        }
    }    
}


