@font-face {
    font-family: galien;
    src: url('./../fonts/Galien-Regular.woff2') format('woff2');
    font-weight: normal;  
    font-style: normal;   
}

@font-face {
    font-family: gilroy;
    src: url('./../fonts/Gilroy-Regular.woff2') format('woff2');
    font-weight: normal;  
    font-style: normal;   
}