:root {
    --colorWhite: #fff;
    --colorJordyBlue: #98c3e8;
    --colorYaleBlue: #1F3F68;
    --colorAzul: #356EAD;
    --colorBlueGray: #5A98D0;
    --colorLapisLazuli: #316099;  
    --colorRed: #EC0705;  
    --linearGradientHeader: linear-gradient(180deg, var(--colorWhite) 69%, var(--colorJordyBlue) 150%);

    --boxShadowForBtn: 5px 10px 20px 5px rgba(53, 110, 173, .2);

    --backgroundModal: rgba(33,37,41, .5);
    --borderInputModal: rgba(53, 110, 173, .4);
    --placeholderInputModal:rgba(53, 110, 173, .2);
}