:root {
    --colorWhite: #fff;
    --colorJordyBlue: #98c3e8;
    --colorYaleBlue: #1F3F68;
    --colorAzul: #356EAD;
    --colorBlueGray: #5A98D0;
    --linearGradientHeader: linear-gradient(180deg, var(--colorWhite) 69%, var(--colorJordyBlue) 150%);
}