.main__clients {
    width: 100%;
    padding: 12rem 0 16rem 0;
    background-color: var(--colorBlueGray);    
    border-top-left-radius: 25rem;
}

.clients__container {
    margin: 0 17.5%;    
    display: flex;
    flex-direction: column;
    gap: 15.4rem;

    &_description {
        display: flex;
        align-items: center;
        gap: 12rem;

        &-title {
            --widthTitleClients: 27.9rem;
    
            font-family: var(--fontFamilyGilroy);
            font-size: 4rem;
            line-height: 5.8rem;
            color: var(--colorWhite);
            max-width: var(--widthTitleClients);
        }
        &-text {
            font-family: var(--fontFamilyGilroy);
            font-size: 2rem;
            line-height: 3.25rem;
            color: var(--colorWhite);
            max-width: 67.5rem;
            opacity: .6;
        }
    }

    &_logos {        
        display: grid;        
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 16rem);
        gap: 1px;      
        background-color: rgba(255, 255, 255, .4);       
    }   
    
}

.logos_logo {
    background-color: var(--colorBlueGray);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    &-title {
        font-family: var(--fontFamilyGilroy);
        font-size: 2.5rem;
        line-height: 5.8rem;
        color: var(--colorWhite);
        z-index: 1;
    }

    &-bgr {
        position: absolute;
        top:0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--colorYaleBlue);
        opacity: .2;
        z-index: 0;
    }
}

